<div class="header">
  <div class="header-content">
    <div class="content-icon">
      <button (click)="goBack()">
        <img class="icon" src="../../../../assets/back.svg" alt="Voltar" />
      </button>

      <div class="seach-notification">
        <button>
          <img class="icon" src="../../../../assets/search.svg" alt="Buscar" />
        </button>

        <button>
          <img class="icon notification" src="../../../../assets/notification.svg" alt="Notificações" />
        </button>
      </div>
    </div>

    <div class="img-profile">
      <img src="../../../../assets/foto-teste.svg" alt="" />
    </div>
  </div>
  <app-profile-header> </app-profile-header>
</div>

<div class="main-content">
  <div class="label-atividade-time">
    <span class="label background">
      <h2>Matemática e Estátistica</h2>
    </span>
    <span class="time background">
      <img src="../../../../assets/atividades/timer.svg" alt="" />
      <label for="">15:00</label>
    </span>
  </div>

  <div class="atividade-content">
    <div class="atividade-texto">
      <p>
        1) Considere 10 inteiros positivos distintos que são todos primos entre si (isto é, não existe um fator primo comum a
        todos), mas tais que quaisquer dois deles não são primos entre si. Qual é a menor quantidade de fatores primos distintos
        que podem aparecer no produto dos 10 números?
      </p>
      <textarea [(ngModel)]="comment" id="comment" name="comment" rows="4" cols="32">
Digite seu comentário aqui...
</textarea
      >
      <p>
        2) Duas circunferências se intersectam em e, uma reta é tangente às duas circunferências nos pontos e suponha que pertence
        ao interior do triângulo sejam o ortocentro do triângulo e o ponto médio do segmento. Mostre que está na reta que passa
        pelo centro das duas circunferências.
      </p>
      <textarea [(ngModel)]="comment" id="comment" name="comment" rows="4" cols="32">
  Digite seu comentário aqui...
  </textarea
      >
      <p>
        3) Oito seleções de futebol da CPLP disputaram um campeonato no qual cada time jogou uma única vez com cada um dos demais
        times. No futebol, cada vitória vale 3 pontos, cada empate vale 1 ponto e a seleção derrotada não pontua. Nesse campeonato
        quatro seleções ficaram em primeiro lugar com 15 pontos e as outras quatro ficaram em segundo lugar com 𝑁 pontos cada.
        Sabendo que houve 12 empates durante todo o campeonato, determine 𝑁.
      </p>
      <textarea [(ngModel)]="comment" id="comment" name="comment" rows="4" cols="32">
    Digite seu comentário aqui...
    </textarea
      >
    </div>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
