<div class="login-container">
  <!-- Importação do header -->
  <app-header></app-header>

  <div class="login-content">
    <!-- Logo da aplicação -->
    <img src="assets/images/login-image.png" alt="MindStep Logo" class="login-logo" />

    <form (submit)="onLogin()">
      <!-- Rótulo e Input de Email/Celular -->
      <div class="input-container">
        <label for="email">Email/Celular</label>
        <app-input id="email" placeholder="Digite seu email ou celular" [(ngModel)]="email" name="email" required></app-input>
      </div>

      <!-- Rótulo e Input de Senha -->
      <div class="input-container">
        <label for="password">Senha</label>
        <app-input
          id="password"
          placeholder="Digite sua senha"
          [(ngModel)]="password"
          name="password"
          type="password"
          required></app-input>
      </div>

      <!-- Botão de Login -->
      <app-button [variant]="'primary'" type="submit"> Login </app-button>
    </form>

    <p>Cadastre-se aqui</p>

    <div class="social-buttons">
      <app-socials-button variant="facebook"> Facebook </app-socials-button>
      <app-socials-button variant="google-icon"> Google </app-socials-button>
      <app-socials-button variant="email"> E-mail </app-socials-button>
    </div>
  </div>
</div>
