<div class="login-container">
  <!-- Importação do header -->
  <app-header></app-header>

  <div class="login-content">
    <img src="assets/images/login-image.png" alt="MindStep Logo" class="login-logo" />

    <form (submit)="onLogin()">
      <div class="email-label">
        <label for="email">Email/Celular</label>
      </div>
      <div class="email-input-container">
        <app-input id="email" placeholder="usuario@estartando.com.br" [(ngModel)]="email" name="email" required></app-input>
      </div>

      <div class="senha-label">
        <label for="password">Senha:</label>
      </div>
      <div class="senha-input-container">
        <app-input
          id="password"
          placeholder="*********"
          [(ngModel)]="password"
          name="password"
          type="password"
          required></app-input>
      </div>

      <div class="button-login">
        <app-button [variant]="'primary'" type="submit">Login</app-button>
      </div>
    </form>

    <p (click)="navigateToSignup()" (keydown.enter)="navigateToSignup()" role="button" tabindex="0">Cadastre-se aqui</p>
  </div>
</div>
