@import '../../../styles/base/fonts';
@import '../../../styles/base/variables';

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin-top: 55px;
  height: 100%;
  background-color: $background;
}

.login-logo {
  width: 288px;
  height: 255px;
  flex-shrink: 0;
}
.email-label{
  font-family: $primary-font;
  font-size: 16px;
  color: $boto-1;
  font-weight: 549;
  line-height: 145%;
  gap: 10px;

}

.senha-label{
  font-family: $primary-font;
  font-size: 16px;
  color: $boto-1;
  font-weight: 549;
  line-height: 145%;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.button-login {
  width: 65px;
  margin: 0 auto;
  margin-top:20px;

}

p {
  margin-top: 16px;
  color: $boto-1;
  font-family: $primary-font;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  margin-top:40px;

  &:hover {
    text-decoration: underline;
  }
}
