<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column; gap: 20px">
  <app-dropdown>aa</app-dropdown>
  <!--
  <app-socials-button variant="google">Google</app-socials-button>
  <app-socials-button variant="google-secondary">Google</app-socials-button>
  <app-socials-button variant="google-icon">Google</app-socials-button>
  <app-socials-button variant="facebook">Facebook</app-socials-button>
  <app-socials-button variant="email">E-mail</app-socials-button>
  <app-socials-button variant="email-secondary"></app-socials-button>
  <app-socials-button variant="google-secondary-icon"></app-socials-button>
  <app-socials-button variant="facebook-secondary"></app-socials-button>

  <app-button variant="primary">Login</app-button>
  <app-button variant="secondary">Login</app-button>
  <app-button variant="primary">Cadastro</app-button>
  <app-button variant="secondary" width="75px" height="35px">Cadastro</app-button> -->

  <app-input
    type="email"
    placeholder="Digite seu e-mail"
    name="email"
    validationPattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"></app-input>

  <app-input type="text" placeholder="Digite seu nome" name="nome"></app-input>

  <app-input type="password" placeholder="Digite sua senha" name="senha"></app-input>
  <app-input
    variant="secondary"
    type="email"
    placeholder="Digite seu e-mail"
    name="email"
    validationPattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"></app-input>

  <app-input variant="secondary" type="text" placeholder="Digite seu nome" name="nome"></app-input>

  <app-input variant="secondary" type="password" placeholder="Digite sua senha" name="senha"></app-input>
</div>
