<div class="header"></div>

<div class="main-content">
  <div class="title-header">
    <h1 class="title">{{ title }}</h1>
    <h2 class="subtitle">{{ subtitle }}</h2>
  </div>
  <div class="seguidores">{{ seguidores }}</div>
  <div class="info-content">
    <div class="qualificacoes">
      <h1>{{ nivel }}</h1>
      <div class="qualicacoes-content">
        <!--<mat-toolbar color="primary"></mat-toolbar>
                <mat-icon *ngFor="let start of maxRatingArr"></mat-icon>-->
      </div>
    </div>
    <div class="fotos">
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
    </div>
  </div>
  <div class="bio">
    <div class="bio-title"></div>
    <h3>Minha bio</h3>
    {{ bioText }}
  </div>
</div>
