<div class="registration-container">
  <app-header></app-header>

  <div class="progress-bar">
    <span class="step" [class.active]="currentStep >= 1"></span>
    <span class="step" [class.active]="currentStep >= 2"></span>
    <span class="step" [class.active]="currentStep >= 3"></span>
  </div>

  <form #form="ngForm">
    <div *ngIf="currentStep === 1">
      <div class="label-name">
        <label for="fullName">Nome completo</label>
      </div>
      <div class="input-name">
        <app-input
          id="fullName"
          placeholder="Digite seu nome completo"
          [(ngModel)]="registrationData.fullName"
          name="fullName"
          #fullName="ngModel"></app-input>
      </div>

      <div class="input-email">
        <app-input
          id="email"
          placeholder="usuario@estartando.com.br"
          [(ngModel)]="registrationData.email"
          name="email"
          type="email"
          [pattern]="emailPattern"
          #email="ngModel"></app-input>
      </div>

      <div class="label-senha-container">
        <div class="label-senha">
          <label for="password">Senha</label>
        </div>
        <div class="label-senha2">
          <label for="password">8 caracteres (letras e números)</label>
        </div>
      </div>
      <div class="input-container">
        <app-input
          id="password"
          placeholder="********"
          [(ngModel)]="registrationData.password"
          name="password"
          type="password"
          [pattern]="passwordPattern"
          #password="ngModel"></app-input>
      </div>

      <div class="label-dataNascimento">
        <label for="birthDate">Data de Nascimento</label>
      </div>
      <div class="input-dataNascimento">
        <app-input
          id="birthDate"
          placeholder="21/02/1989"
          [(ngModel)]="registrationData.birthDate"
          name="birthDate"
          type="text"
          (keypress)="formatDateInput($event)"
          width="120px"></app-input>
      </div>

      <div class="label-celular">
        <label for="phone">Celular</label>
      </div>
      <div class="input-celular">
        <app-input
          id="phone"
          placeholder="(xx) xxxxx-xxxx"
          [(ngModel)]="registrationData.phone"
          name="phone"
          type="tel"
          (input)="formatPhone($event)"
          width="120px"></app-input>
      </div>

      <div class="inline-fields">
        <div class="field">
          <label for="state">Estado</label>
          <app-input id="state" placeholder="RJ" [(ngModel)]="registrationData.state" name="state" width="45px"> </app-input>
        </div>
        <div class="field">
          <label for="city">Cidade</label>
          <app-input id="city" placeholder="Digite sua cidade" [(ngModel)]="registrationData.city" name="city"> </app-input>
        </div>
      </div>

      <div class="label-education">
        <label for="education">Formação</label>
      </div>
      <div class="input-education">
        <app-input
          id="education"
          placeholder="Digite sua formação"
          [(ngModel)]="registrationData.education"
          name="education"></app-input>
      </div>

      <div class="button-avancar">
        <app-button [variant]="'primary'" (click)="goToNextStep()">Avançar</app-button>
      </div>
    </div>
    <!-- Step 2 -->
    <div *ngIf="currentStep === 2">
      <div class="label-name">
        <h1>testando</h1>
        <app-input
          placeholder="Digite aqui"
          [(ngModel)]="registrationData.learningChallenges"
          name="learningChallenges"></app-input>
      </div>
      <!-- Adicione outros campos aqui -->
      <div class="button-avancar">
        <app-button [variant]="'primary'" (click)="goToNextStep()">Avançar</app-button>
      </div>
    </div>
    <div *ngIf="currentStep === 3">
      <div class="label-name">
        <h1>testando 3</h1>
        <app-input
          placeholder="Digite aqui"
          [(ngModel)]="registrationData.learningChallenges"
          name="learningChallenges"></app-input>
      </div>
      <!-- Adicione outros campos aqui -->
      <div class="button-avancar">
        <app-button [variant]="'primary'" (click)="goToNextStep()">Avançar</app-button>
      </div>
    </div>
  </form>
</div>
