<div class="header">
  <app-profile-header></app-profile-header>
</div>
<div class="main-content">
  <h3>Metas Diárias</h3>
  <div class="button-group">
    <button
      *ngFor="let periodo of periodos"
      [ngClass]="{ active: periodoSelecionado === periodo }"
      (click)="selecionarPeriodo(periodo)">
      {{ periodo }}
    </button>
  </div>

  <div class="calendario">
    <div class="calendario-header">
      <button (click)="mudarMes(-1)">
        <img src="../../../assets/calendario/left.svg" alt="" />
      </button>
      <span>{{ mesAtualFormatado | titlecase }} {{ mesAtual.getFullYear() }}</span>
      <button (click)="mudarMes(1)">
        <img src="../../../assets/calendario/right.svg" alt="" />
      </button>
    </div>
    <div class="dias-semana">
      <span *ngFor="let dia of diasSemana">{{ dia }}</span>
    </div>
    <div class="dias-mes">
      <span *ngFor="let dia of diasDoMes" [ngClass]="{ aula: diasComAulas.includes(dia), hoje: dia === diaAtual }">
        {{ dia }}
      </span>
    </div>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
