$background: #f8f8ff;
$boto-1: #46467c;
$botao-pressionado: #d0d0ff;
$botao: #282878;
$laranja: #da9620;
$background-dark: #111;
$cinza-inativo-1: #717171;
$cinza-inativo: #d4d4d4;
$error-color: #d72638;
$cinza-input: #E6E6FAB2;
$cinza-input-secondary: #E6E6FAB2
